html {
  box-sizing: border-box;
  /* background-color: #F9F9F9 */
  background-color: 'green'

}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

.page {
  background-color: #F9F9F9;
  min-height: 100vh
}

nav ul {
  list-style: none;
  display: flex;
  background-color: black;
  margin-bottom: 20px;
}

nav ul li {
  padding: 15px 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  color: #B5C9D4;
  text-decoration: none;
}

.current {
  border-bottom: 3px solid white;
}

h1 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 15px;
}